.board-container {
  width: 98%;
  height: auto;
  margin: 0px auto;
  margin-top: 2px;
  padding: 0px 0px 0px 0px;
  background-color: #000000c7;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.board-container h2 {
  width: 98%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 3px 3px;
  color: white;
}

.total-score {
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  color: white;
}