.board-container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
}

.board-container h2 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}